<div class="p-4 w-full max-w-xs mx-auto bg-white rounded-lg shadow-md">

    <h3 class="text-xl font-semibold text-gray-800">{{title}}</h3>
    
    <div class="text-lg font-bold mt-2 text-gray-900">
      @if (isAuth) {
        <span class="font-bold"> S/.{{ price }}</span>
      }

        @if(!isAuth) {
            <a routerLink="/login"  class="text-[14px] text-red-500">Inicia sesión para ver el precio</a>
        }
    </div>
  
    <img class="mt-4 w-full h-48 object-cover rounded-md" [src]="img" alt="Imagen del producto" />

    <div class="mt-4">
      <!-- Mostrar el botón solo si está autenticado -->
        @if(isAuth) {
            <button
                (click)="downloadPDF(img, title, price, description)"
                class="block text-center py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-700"
            >
                Descargar Ficha Técnica
            </button>
        }
        <!-- Si no está autenticado -->
        @if (!isAuth){
            <button
                (click)="openModal()"
                class="w-full py-2 px-4 bg-yellow-500 text-white rounded hover:bg-yellow-700"
            >
                Descargar Ficha Técnica
            </button>
    
            <app-email
                [openModal]="clickAuth"
                (closeModal)="closeModal()"
                (sendEmailValid)="sendEmailAndDownload()"
            ></app-email>
        }
    </div>
</div>