@if (registerSuccess) {
    <div class="fixed inset-0 bg-gray-900 bg-opacity-50 flex justify-center items-center z-50">
        <div class="bg-white p-6 rounded-lg shadow-lg max-w-sm w-full text-center">
            <h2 class="text-xl font-bold text-green-500">¡Registro Exitoso!</h2>
            <p class="mt-2 text-gray-700">Te has registrado correctamente. ¡Bienvenido!</p>
            <button (click)="close()" class="mt-4 px-4 py-2 bg-zinc-600 text-white rounded-lg">
                Cerrar
            </button>
        </div>
    </div>
}
